<h2>о нас </h2>
<p>мы являемся...</p>

<form action="/visit" method="POST">
  <div class="mb-3">
    <label for="ваш email" class="form-label">ваш email</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

  <button type="submit" class="btn btn-primary">записаться</button>
</form>